<!DOCTYPE html>
<html>
<head>
    <title>Paper Slips Ronde {{ Round }}</title>
    <meta charset="UTF-8">
    <style type="text/css">
        body {
            font-family: Arial;
            font-size:15px;
        }

        .parent {
            display: grid;
            grid-template-columns: 1fr 1fr 4fr 1fr 1fr 1fr;
            grid-template-rows: repeat(9, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            height: 185px;
        }

        div {
            vertical-align: middle;
            text-align: center;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .div1 {
            grid-area: 2 / 1 / 10 / 2;
        }

        .div2 {
            grid-area: 3 / 2 / 6 / 3;
        }

        .div3 {
            grid-area: 7 / 2 / 10 / 3;
        }

        .div4 {
            grid-area: 3 / 6 / 6 / 7;
        }

        .div5 {
            grid-area: 7 / 6 / 10 / 7;
        }

        .div6 {
            grid-area: 3 / 4 / 6 / 5;
        }

        .div7 {
            grid-area: 7 / 4 / 10 / 5;
        }

        .div8 {
            grid-area: 3 / 3 / 4 / 4;
            justify-content: left;
        }

        .div9 {
            grid-area: 4 / 3 / 5 / 4;
            justify-content: left;
        }

        .div10 {
            grid-area: 7 / 3 / 8 / 4;
            justify-content: left;
        }

        .div11 {
            grid-area: 8 / 3 / 9 / 4;
            justify-content: left;
        }

        .div12 {
            grid-area: 6 / 5 / 7 / 6;
        }

        .div13 {
            grid-area: 2 / 6 / 3 / 7;
        }

        .div14 {
            grid-area: 2 / 5 / 3 / 6;
        }

        .div15 {
            grid-area: 2 / 4 / 3 / 5;
        }

        .div16 {
            grid-area: 2 / 2 / 3 / 3;
        }

        .div17 {
            grid-area: 1 / 1 / 2 / 4;
        }

        .div18 {
            grid-area: 1 / 4 / 2 / 7;
        }

        .div19 {
            grid-area: 1 / 1 / 2 / 7;
            border-top: 1px solid #000000;
            border-bottom: 2px solid #dee2e6;
        }

        .div20 {
            grid-area: 9 / 1 / 10 / 7;
            border-bottom: 1px solid #000000;
        }
        .div21 {
            grid-area: 5 / 3 / 6 / 4;
            justify-content: left;
        }
        .div22 {
            grid-area: 9 / 3 / 10 / 4;
            justify-content: left;
        }


        #circle {
            width: 50px;
            height: 30px;
            border-radius: 25px;
            border-style: solid;
            border-color: #000000;
            border-width: 2px;
            background: white;
        }

        #rect {
            width: 30px;
            height: 20px;
            border-style: solid;
            border-color: #000000;
            border-width: 2px;
            background: white;
        }
    </style>
</head>
<body>
    {{#each List}}

    <div class="parent" {{#if this.Breakpage}} style="page-break-after: always;" {{/if}}>
        <div class="div1" style="height:100%;"><img src={{ ../Image }} /></div>
        <div class="div2" style="height:100%;"><div id="circle" style="margin: auto auto;"></div></div>
        <div class="div3" style="height:100%;"><div id="circle" style="margin: auto auto;"></div></div>
        <div class="div4" style="height:100%;"><div id="rect" style="margin: auto auto;"></div></div>
        <div class="div5" style="height:100%;"><div id="rect" style="margin: auto auto;"></div></div>
        <div class="div6" style="height:100%;">{{#if this.pairingLine.Bye}}2{{else}}_____{{/if}}</div>
        <div class="div7" style="height:100%;">{{#if this.pairingLine.Bye}}0{{else}}_____{{/if}}</div>
        <div class="div8" style="text-align: left;">Name : {{this.pairingLine.Player1}}</div>
        <div class="div9" style="text-align: left;">Score : {{this.pairingLine.Player1_Points}}</div>
        <div class="div21" style="text-align: left;">Sign :</div>
        <div class="div10" style="text-align: left;">Name : {{this.pairingLine.Player2}}</div>
        <div class="div11" style="text-align: left;">Score : {{this.pairingLine.Player2_Points}}</div>
        <div class="div22" style="text-align: left;">Sign :</div>
        <div class="div12">_____</div>
        <div class="div13"><u># Drop</u></div>
        <div class="div14"><u># Draw</u></div>
        <div class="div15"><u># Wins</u></div>
        <div class="div16"><u>Penality</u></div>
        <div class="div17"><b>ROUND # : {{ ../Round }}</b></div>
        <div class="div18"><b>TABLE # : {{this.pairingLine.Table}}</b></div>
        <div class="div19"></div>
        <!--<div class="div20"></div>-->
    </div>
    {{/each}}
</body>
</html>


