<!DOCTYPE html>
<html>
	<head>
		<title>Rapport de remise</title>
		<meta charset="UTF-8">
			<style type="text/css">
        body {
            font-family: Arial;
        }

        table {
            width: 100%;
            margin-bottom: 1rem;
            color: #212529;
            border-collapse: collapse;
            border-top: 1px solid #000000;
            border-bottom: 1px solid #000000;            
            
        }

            table thead th {
                vertical-align: bottom;
                border-bottom: 2px solid #dee2e6;
                padding: .75rem;                
                text-align: center;
            }

            table td, table th {
                padding: .75rem;
                vertical-align: top;
                
            }

            table th {
                padding: .75rem;
                vertical-align: top;
                border-top: 1px solid #000000;
            }

            .text--normal {
                font-weight: normal;
            }

            .text--bold {
                font-weight: bold;
            }

            .text--center {
                text-align: center;
            }

            .header-infos {
                margin-top: 16px;
                margin-bottom: 16px;
            }
              #circle {
      width: 50px;
      height: 30px;
      border-radius: 25px;
    border-style: solid;
      border-color: #000000;
   border-width: 2px;
      background: white;
    }
                  #rect {
      width: 30px;
      height: 20px;
    border-style: solid;
      border-color: #000000;
   border-width: 2px;
      background: white;
    }


    </style>
		</head>
		<body>
			 {{#each List}}
			<table width="100%" style="undefined;table-layout: fixed">
				<colgroup>
					<col style="width: 16%">
					<col style="width: 10%">
					<col style="width: 40%">
					<col style="width: 12%">
					<col style="width: 12%">
					<col style="width: 10%">
				</colgroup>
					<thead>
						<tr>
							<th colspan="3">ROUND # : {{ ../Round }}</th>
							<th colspan="3">TABLE # : {{this.Table}}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td rowspan="6" style="vertical-align: middle;"><img src={{ ../Image }}/></td>
							<td>Penality</td>
							<td/>
							<td style="text-align: center"># Wins</td>
							<td style="text-align: center"># Draw</td>
							<td style="text-align: center">Drop</td>
						</tr>
						<tr>
							<td rowspan="2" style="vertical-align: middle;">
								<div id="circle"/>
							</div>
						</td>
						<td>Name : {{this.Player1}}</td>
						<td rowspan="2" style="vertical-align: middle;text-align: center;">{{#if this.Bye}}2{{else}}__________{{/if}}</td>
						<td/>
						<td rowspan="2">
							<div style="margin: auto auto; width: 100%">
								<div id="rect" style="margin: auto auto;"/>
							</div>
						</td>
					</tr>
					<tr>
						<td>Sign :</td>
						<td/>
					</tr>
					<tr>
						<td/>
						<td/>
						<td/>
						<td style="vertical-align: middle;">__________</td>
						<td/>
					</tr>
					<tr>
						<td rowspan="2" style="vertical-align: middle;">
							<div id="circle"/>
						</td>
						<td>Name : {{this.Player2}}</td>
						<td rowspan="2" style="vertical-align: middle;text-align: center;">{{#if this.Bye}}0{{else}}__________{{/if}}</td>
						<td/>
						<td rowspan="2"
						<div style="margin: auto auto; width: 100%">
							<div id="rect" style="margin: auto auto;"/>
						</div>
					</td>
				</tr>
				<tr>
					<td>Sign :</td>
					<td/>
				</tr>
			</tbody>
		</table>
			 {{/each}}
	</body>
</html>